.header {
  width: 100px;
  height: 100px;
}
@media (max-width: 768px) {
  .header {
    height: auto;
  }
}
.header a {
  color: black;
}
@media (max-width: 768px) {
  .header a {
    color: red;
  }
}