@charset "UTF-8";
.wrap {
  background: black;
}

/* 導覽列 */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  margin: 16px 0 16px 42px;
}
.navbar h1 a {
  display: block;
  width: 120px;
  height: 24px;
  background: url(../images/logo_w\(null\).svg) no-repeat;
  /* @include hide-text; */
}
.navbar ul {
  display: flex;
}
.navbar ul li a {
  /* color: $white-text;
  font-size: $text-xl; */
  font-size: 30px;
  font-weight: 500;
}