@mixin tablet{
    @media (max-width: 768px){
        @content
    }
}

.header{
    width: 100px;
    height: 100px;
    @include tablet{
        height: auto;
    }
    a{
        color: black;
        @include tablet{
            color: red;
        }
    }
}