.register{
    color: $primary-text;
    padding: 50px 0;
    .register-solgan{
        font-weight: bold;
        text-align: center;
        margin-bottom: 35px;
        h2{
            font-size: $text-4xl;
        }
        p{
            font-size: $text-2xl;
        }
    }
    .register-form{
        width: 620px;
        margin: 0 auto;
        border-top: 3px solid $orange-text;
        padding: 15px;
        box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
        @include tablet{
            width: 90%;
        }
        h3{
            font-size: $text-xl;
            font-weight: bold;
            text-align: center;
            margin-bottom: 16px;
        }
        .content{
            display: flex;
            justify-content: space-between;
            @include mobile{
                flex-direction: column-reverse;
            }
            .reading-terms{
                width: 47.5%;
                @include mobile{
                    width: 100%;
                    margin-bottom: 20px;
                }
                p{
                    font-size: $text-xl;
                    margin-bottom: 5px;
                }
                span{
                    font-size: $text-l;
                }
            }
            form{
                width: 47.5%;
                @include mobile{
                    width: 100%;
                }
                label{
                    font-size: $text-l;
                }
                .input-group{
                    position: relative;
                    margin-bottom: 15px;
                    input{
                        width: 100%;
                        border: 1px solid #CCC;
                        padding: 7.5px 30px;
                    }
                    i{
                        position: absolute;
                        top: 8px;
                        left: 10px;
                        opacity: 0.5;
                    }
                }
                .already{
                    display: block;
                    color: $orange-text;
                    margin-bottom: 30px;
                }
                a:hover{
                    opacity: 0.5;
                }
                .register-btn{
                    display: flex;
                    justify-content: end;
                    a{
                        border-radius: 3px;
                        background: $btn-orange;
                        color: $white-text;
                        padding: 8px 46.5px;
                    }

                }
            }
        }
    }
}