//text
$text-4xl:48px;
$text-3xl:36px;
$text-2xl:24px;
$text-xl:20px;
$text-l: 18px;
$text-m: 16px;
$text-s: 14px;

//color
$primary-text: #3d1101;
$white-text: white;
$orange-text: #ff5e45;
$btn-orange : #f56c23;
$google: #db4437;
$twitter: #41abe1;
$facebook: #3a5795;

//background-color
$navbar-bg: rgba(0,0,0,0.75);
$solgan-bg: rgba(0,0,0,0.35);
$primary-bg: #efe9e7;
