
/* 導覽列 */
.header{
    position: fixed; //將導覽列固定在上方
    width: 100%;
    z-index: 100;
    background: $navbar-bg;
    .navbar{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            margin: 16px 0 16px 42px;
            a{
                display: block;
                width: 120px;
                height: 24px;
                background: url(../images/logo_w\(null\).svg) no-repeat;
                @include hide-text;
            }
            a:hover{
                opacity: 0.5;
            }
        }
        .menu{
            display: flex;
            margin-right: 50px;
            @include tablet{
                margin-right: 0px;
            }
            //在手機上隱藏選單
            @include mobile{
                display: none;
                position: absolute;
                z-index: 100;
                top: 100%;
                width: 100%;
                text-align: center;
            }
            li{
                a{
                    position: relative;
                    display: block;
                    color: $white-text;
                    font-size: $text-xl;
                    font-weight: bold;
                    padding: 18px;
                    @include mobile{
                        background: $navbar-bg;
                    }
                }
                // 偽元素，用於 hover 效果
                a::after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    bottom: 0;
                    left: 0;
                    border-bottom: 3px solid #fff;
                    transition: all 1s;
                }
                a:hover::after,a:active::after{
                    width: 100%;
                }
            }
        }
        .show-menu{
            color: white;
            display: none;
            @include mobile{
                display: block;
                margin-right: 20px;
            }
        }
        
    }
}
/* 橫幅 */
.banner{
    margin: 0 auto;
    background:url(../images/header_desktop.png) no-repeat;
    height: 420px;
    background-size: cover; //設定背景圖片的尺寸 cover讓背景圖整個「不變形」、「寬高等比例」、「在必要時局部裁切」的鋪滿整個容器空間
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile{
        background: url(../images/header_mobile.png) no-repeat;
    }
    //標語
    .solgan{
        background:rgba(0,0,0,0.35);
        color: $white-text;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px 5px 30px;
        h2{
            font-size: $text-4xl;
            margin-bottom: 15px;
            @include tablet{
                font-size: $text-3xl;
            }
        }
        p{
            font-size: $text-xl;
            margin-bottom: 10px;
            letter-spacing: 0.25em;
            @include tablet{
                font-size: $text-m;
            }
        }
    }
}
/* 表尾 */
.footer{
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 40px;
    color: $primary-text;
    display: flex;
    justify-content: space-between;
    @include tablet{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .footer-list{
        display: flex;
        margin-bottom: 40px;
        @include tablet{
            justify-content: space-between;
        }
        >li{
            font-size: $text-xl;
            width: 45%;
            margin-right: 20px;
            @include tablet{
                font-size: $text-l;
                width: 50%;
            }
            h3{
                font-size: $text-2xl;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }
    }
    a:hover{
        opacity: 0.5;
    }
}
/* 聯絡方式 */
.contact-info{
    li{
        list-style-type: disc;
        margin: 0 0 5px 20px;
        a{
            color: $primary-text;
        }
    }
}
/* Footer LOGO */
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 31.33333%;
    @include tablet{
        align-items: center;
        width: 100%;
    }
    h3{
        margin-bottom: 20px;
        a{
            display: block;
            background: url(../images/logo_l@svg.svg) no-repeat;
            width: 243px;
            height: 48px;
            @include hide-text;
        }
    }
    ul{
        display: flex;
        li{
            margin-left: 10px;
        }
        .google{
            a{
                color: $google;
            }
        }
        .twitter{
            a{
                color: $twitter;
            }
        }
        .facebook{
            a{
                color: $facebook;
            }
        }
    }
}