.wrap{
    max-width: 1000px;
    margin: 0 auto;
    height: 200px;
    background: black;
}
.title{
    width: 30%;
    height: 100px;
    background: orange;
    float: left;
}
.content{
    width: 70%;
    height: 100px;
    background:  red;
    float: left;
}
